In [15]:
import pandas as pd 
import re

# Part 1

In [55]:
df = pd.read_csv('input2.csv', header=None, sep =':', names = ['rule', 'password'])

In [56]:
df

        rule              password
0     8-11 l       qllllqllklhlvtl
1      1-3 m             wmmmmmttm
2      2-4 p                 pgppp
3    11-12 n          nnndnnnnnnnn
4    17-19 q   qprqdcgrqrqmmhtqqvr
..       ...                   ...
995   9-11 s         sssssstsssgss
996    2-6 n         nnfnpgnnnmnnn
997  15-17 w     wwwwrswthgwhkwwrw
998    5-9 h          lbhdhplmbnwh
999    5-6 d               jdddqqt

[1000 rows x 2 columns]

In [44]:
df.rule[0]

'8-11 l'

In [45]:
pattern_number = '[0-9]+'

In [51]:
re.findall(pattern_number, df.rule[0])

['8', '11']

In [52]:
re.findall('[a-zA-Z]',df.rule[0] )

['l']

In [116]:
def min(x):
    return re.findall(pattern_number, x)[0]

def max(x):
    return re.findall(pattern_number, x)[1]

def get_letter(x):
    return re.findall('[a-zA-Z]', x)[0]


df['max'] = df.rule.apply(max).astype(int)
df['min'] = df.rule.apply(min).astype(int)
df['letter'] = df.rule.apply(get_letter)

In [117]:
df

        rule              password  min letter  max  count
0     8-11 l       qllllqllklhlvtl    8      l   11      9
1      1-3 m             wmmmmmttm    1      m    3      6
2      2-4 p                 pgppp    2      p    4      4
3    11-12 n          nnndnnnnnnnn   11      n   12     11
4    17-19 q   qprqdcgrqrqmmhtqqvr   17      q   19      6
..       ...                   ...  ...    ...  ...    ...
995   9-11 s         sssssstsssgss    9      s   11     11
996    2-6 n         nnfnpgnnnmnnn    2      n    6      9
997  15-17 w     wwwwrswthgwhkwwrw   15      w   17      9
998    5-9 h          lbhdhplmbnwh    5      h    9      3
999    5-6 d               jdddqqt    5      d    6      3

[1000 rows x 6 columns]

In [105]:
def counter(row):
    counter = row['password'].count(row['letter'])
    return counter

In [106]:
df['count'] = df.apply(lambda row: counter(row), axis=1)

In [107]:
df

        rule              password min letter max  count
0     8-11 l       qllllqllklhlvtl   8      l  11      9
1      1-3 m             wmmmmmttm   1      m   3      6
2      2-4 p                 pgppp   2      p   4      4
3    11-12 n          nnndnnnnnnnn  11      n  12     11
4    17-19 q   qprqdcgrqrqmmhtqqvr  17      q  19      6
..       ...                   ...  ..    ...  ..    ...
995   9-11 s         sssssstsssgss   9      s  11     11
996    2-6 n         nnfnpgnnnmnnn   2      n   6      9
997  15-17 w     wwwwrswthgwhkwwrw  15      w  17      9
998    5-9 h          lbhdhplmbnwh   5      h   9      3
999    5-6 d               jdddqqt   5      d   6      3

[1000 rows x 6 columns]

In [124]:
def inside(row):
    if row['count'] <= row['max'] and row['count'] >= row['min']:
        return True
    return False

df['result'] = df.apply(lambda row: inside(row), axis=1)

In [126]:
df[df['result'] == True]

        rule              password  min letter  max  count  result
0     8-11 l       qllllqllklhlvtl    8      l   11      9    True
2      2-4 p                 pgppp    2      p    4      4    True
3    11-12 n          nnndnnnnnnnn   11      n   12     11    True
9     7-13 d         bdqdtddddnwdd    7      d   13      8    True
15   15-16 d   dndddddddjdddddbdld   15      d   16     15    True
..       ...                   ...  ...    ...  ...    ...     ...
991    4-7 n              nnnnnnqn    4      n    7      7    True
992    8-9 k    kwkknknkrkgkbklmpb    8      k    9      8    True
993    1-5 z               zzmzfzz    1      z    5      5    True
994   6-10 m            mmmmmfmmmm    6      m   10      9    True
995   9-11 s         sssssstsssgss    9      s   11     11    True

[416 rows x 7 columns]

# Part 2

In [127]:
df

        rule              password  min letter  max  count  result
0     8-11 l       qllllqllklhlvtl    8      l   11      9    True
1      1-3 m             wmmmmmttm    1      m    3      6   False
2      2-4 p                 pgppp    2      p    4      4    True
3    11-12 n          nnndnnnnnnnn   11      n   12     11    True
4    17-19 q   qprqdcgrqrqmmhtqqvr   17      q   19      6   False
..       ...                   ...  ...    ...  ...    ...     ...
995   9-11 s         sssssstsssgss    9      s   11     11    True
996    2-6 n         nnfnpgnnnmnnn    2      n    6      9   False
997  15-17 w     wwwwrswthgwhkwwrw   15      w   17      9   False
998    5-9 h          lbhdhplmbnwh    5      h    9      3   False
999    5-6 d               jdddqqt    5      d    6      3   False

[1000 rows x 7 columns]

In [131]:
def position(row):
    if (row['password'][row['min']] == row['letter']) != (row['password'][row['max']] == row['letter']):
        return True
    return False

df['result2'] = df.apply(lambda row: position(row), axis=1)

In [133]:
df[df['result2'] == True]

        rule              password  min letter  max  count  result  result2
0     8-11 l       qllllqllklhlvtl    8      l   11      9    True     True
1      1-3 m             wmmmmmttm    1      m    3      6   False     True
2      2-4 p                 pgppp    2      p    4      4    True     True
4    17-19 q   qprqdcgrqrqmmhtqqvr   17      q   19      6   False     True
6      6-9 c          rvcvlcjcbhxs    6      c    9      3   False     True
..       ...                   ...  ...    ...  ...    ...     ...      ...
993    1-5 z               zzmzfzz    1      z    5      5    True     True
994   6-10 m            mmmmmfmmmm    6      m   10      9    True     True
995   9-11 s         sssssstsssgss    9      s   11     11    True     True
996    2-6 n         nnfnpgnnnmnnn    2      n    6      9   False     True
998    5-9 h          lbhdhplmbnwh    5      h    9      3   False     True

[688 rows x 8 columns]